:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}



#bodystyle {
  font-family: 'Arial', sans-serif;
  background-color: var(--light-blue);
  
}

h1 {
  text-align: center;
  color: #007bff;
}

form {
  max-width: 600px;
  margin: 96px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.leaflet-pages label {
  display: block;
  margin-bottom: 5px;
}

.leaflet-pages input[type="file"] {
  margin-bottom: 10px;
}

img {
  max-width: 50%;
  /* display: none; */
}

#form-button {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#updateButton {
  background-color: #28a745;
  color: #fff;
}

#closeButton {
  background-color: #dc3545;
  color: #fff;
}